emacs/.emacs.d/xml/jboss-7/jboss-as-configadmin_1_0.rnc

default namespace = "urn:jboss:domain:configadmin:1.0"

start =
  notAllowed
  | element subsystem {
      element configuration {
        attribute pid { xsd:string },
        element property {
          attribute value { xsd:string },
          attribute name { xsd:string }
        }*
      }*
    }
