emacs/.emacs.d/xml/jboss-7/jboss-as-config_1_1.rnc

default namespace = "urn:jboss:domain:1.1"

start =
  (notAllowed
   | element bootstrapURI { \string })
  | (notAllowed
     | element host {
         attribute name { xsd:string }?,
         element system-properties { properties-with-boottime }?,
         element paths { specified-pathsType }?,
         element vault { vaultType }?,
         element management {
           anonymous7,
           element management-interfaces {
             element native-interface {
               anonymous0,
               element socket { native-management-socketType }
             },
             element http-interface {
               anonymous0,
               element socket { http-management-socketType },
               attribute console-enabled { xsd:boolean }?
             }?
           }
         },
         element domain-controller {
           element local { empty }
           | element remote {
               attribute security-realm { xsd:string }?,
               attribute port { xsd:integer },
               attribute host { xsd:string },
               element ignored-resources {
                 attribute names { xsd:string }?,
                 attribute wildcard { xsd:boolean }?,
                 attribute type { xsd:string },
                 element instance {
                   attribute name { xsd:string }
                 }*
               }*
             }
         },
         element interfaces { specified-interfacesType }?,
         element jvms {
           element jvm { namedJvmType }*
         }?,
         element servers {
           element server {
             attribute auto-start { xsd:boolean }?,
             attribute group { xsd:string },
             attribute name { xsd:string },
             (element paths { specified-pathsType }?
              & element interfaces { specified-interfacesType }?
              & element socket-bindings {
                  attribute port-offset { xsd:int }?,
                  attribute socket-binding-group { xsd:string }?
                }?
              & element system-properties { properties-with-boottime }?
              & element jvm {
                  anonymous2,
                  attribute debug-enabled { xsd:boolean }?,
                  attribute debug-options { xsd:string }?
                }?)
           }*
         }?
       })
  | (notAllowed
     | element domain {
         element extensions { extensionsType }?,
         element system-properties { properties-with-boottime }?,
         element paths {
           element path {
             anonymous8,
             attribute name { xsd:string }
           }*
         }?,
         element profiles {
           element profile {
             attribute name { xsd:string }
           }+
         }?,
         element interfaces {
           element interface {
             attribute name { xsd:string },
             interface-criteriaGroup?
           }*
         }?,
         element socket-binding-groups {
           element socket-binding-group {
             attribute default-interface { xsd:string },
             attribute name { xsd:string },
             element socket-binding { socket-bindingType }+,
             element outbound-socket-binding {
               outbound-socket-bindingType
             }*
           }+
         }?,
         element deployments {
           element deployment {
             anonymous1,
             (element content { contentType }
              | element fs-archive { fs-archiveType }
              | element fs-exploded { fs-explodedType })
           }+
         }?,
         element server-groups {
           element server-group {
             attribute management-subsystem-endpoint { xsd:boolean }?,
             attribute profile { xsd:string }?,
             attribute name { xsd:string }?,
             element jvm { namedJvmType }?,
             element socket-binding-group {
               attribute port-offset { xsd:int }?,
               attribute ref { xsd:string }?
             },
             element deployments {
               element deployment { anonymous1 }+
             }?,
             element system-properties { properties-with-boottime }?
           }*
         }?,
         element management-client-content {
           element rollout-plans { contentType }?
         }?
       })
  | (notAllowed
     | element server {
         attribute name { xsd:string }?,
         element extensions { extensionsType }?,
         element system-properties {
           element property { propertyType }+
         }?,
         element paths { specified-pathsType }?,
         element vault { vaultType }?,
         element management {
           anonymous7,
           element management-interfaces {
             element native-remoting-interface { empty }?,
             element native-interface {
               anonymous0,
               (element socket { native-management-socketType }
                | element socket-binding {
                    attribute native { xsd:string }
                  })
             }?,
             element http-interface {
               anonymous0,
               (element socket { http-management-socketType }
                | element socket-binding {
                    attribute https { xsd:string }?,
                    attribute http { xsd:string }?
                  }),
               attribute console-enabled { xsd:boolean }?
             }?
           }?
         }?,
         element profile { notAllowed }?,
         element interfaces { specified-interfacesType }?,
         element socket-binding-group {
           attribute port-offset { xsd:int }?,
           attribute default-interface { xsd:string },
           attribute name { xsd:string },
           element socket-binding { socket-bindingType }+,
           element outbound-socket-binding {
             outbound-socket-bindingType
           }*
         }?,
         element deployments {
           element deployment {
             anonymous1,
             (element content { contentType }
              | element fs-archive { fs-archiveType }
              | element fs-exploded { fs-explodedType }),
             attribute enabled { xsd:boolean }?
           }+
         }?
       })
public-addressType = empty, empty
anonymous0 = attribute security-realm { xsd:string }?
properties-with-boottime =
  (notAllowed
   | element property {
       anonymous6,
       attribute boot-time { xsd:boolean }?
     })+,
  empty
fs-archiveType = anonymous5, empty
specified-pathsType =
  (notAllowed
   | element path {
       attribute relative-to { xsd:string }?,
       attribute path {
         xsd:string { minLength = "1" }
       },
       attribute name { xsd:string }
     })*,
  empty
multicastType = empty, empty
native-management-socketType =
  (anonymous3,
   attribute port { xsd:int }),
  empty
extensionsType =
  (notAllowed
   | element extension {
       attribute module { xsd:string }
     })+,
  empty
propertyType = anonymous6, empty
point-to-pointType = empty, empty
anonymous1 =
  attribute runtime-name { text },
  attribute name { text }
loopback-addressType =
  attribute value { xsd:string },
  empty
socket-bindingType =
  (attribute multicast-port { xsd:positiveInteger }?,
   attribute multicast-address { xsd:string }?,
   attribute fixed-port { xsd:boolean }?,
   attribute port { xsd:unsignedShort }?,
   attribute interface { xsd:string }?,
   attribute name { xsd:string },
   (notAllowed
    | element client-mapping {
        attribute destination-port { xsd:string }?,
        attribute destination-address { xsd:string },
        attribute source-network { xsd:string }?
      })*),
  empty
anonymous2 =
  (attribute env-classpath-ignored { xsd:boolean }?,
   attribute type { xsd:token "IBM" | xsd:token "SUN" }?,
   attribute java-home { xsd:string }?,
   ((notAllowed
     | element heap {
         attribute max-size { text }?,
         attribute size { text }?
       })?
    & (notAllowed
       | element permgen {
           attribute max-size { xsd:string }?,
           attribute size { xsd:string }?
         })?
    & (notAllowed
       | element stack {
           attribute size { xsd:string }
         })?
    & (notAllowed
       | element agent-lib {
           attribute value { text }
         })?
    & (notAllowed
       | element agent-path {
           attribute value { text }
         })?
    & (notAllowed
       | element java-agent {
           attribute value { text }
         })?
    & (notAllowed
       | element jvm-options {
           element option {
             attribute value { text }
           }*
         })?
    & (notAllowed
       | element environment-variables {
           element variable { propertyType }+
         })?)),
  attribute name { xsd:string }?
anonymous3 = attribute interface { xsd:string }
interface-upType = empty, empty
specified-interfacesType =
  (notAllowed
   | element interface {
       attribute name { xsd:string },
       interface-criteriaGroup
     })*,
  empty
subnet-matchType =
  attribute value { xsd:string },
  empty
contentType =
  attribute sha1 { text },
  empty
interface-criteriaGroup =
  (notAllowed
   | element any-address { empty })
  | (notAllowed
     | element any-ipv6-address { empty })
  | (notAllowed
     | element any-ipv4-address { empty })
  | ((notAllowed
      | element inet-address { inet-addressType })
     | (notAllowed
        | element loopback { loopbackType })
     | (notAllowed
        | element loopback-address { loopback-addressType })
     | (notAllowed
        | element multicast { multicastType })
     | (notAllowed
        | element point-to-point { point-to-pointType })
     | (notAllowed
        | element virtual { interface-virtualType })
     | (notAllowed
        | element up { interface-upType })
     | (notAllowed
        | element public-address { public-addressType })
     | (notAllowed
        | element link-local-address { link-local-addressType })
     | (notAllowed
        | element site-local-address { site-local-addressType })
     | (notAllowed
        | element nic { nicType })
     | (notAllowed
        | element nic-match { nic-matchType })
     | (notAllowed
        | element subnet-match { subnet-matchType })
     | (notAllowed
        | element not { address-exclusionType })
     | (notAllowed
        | element any { address-exclusionType }))+
loopbackType = empty, empty
anonymous4 =
  attribute path { xsd:string },
  attribute relative-to { xsd:string }?
interface-virtualType = empty, empty
address-exclusionType =
  ((notAllowed
    | element inet-address { inet-addressType })+
   | empty
   | (notAllowed
      | element loopback { loopbackType })
   | (notAllowed
      | element loopback-address { loopback-addressType })
   | (notAllowed
      | element multicast { multicastType })
   | (notAllowed
      | element point-to-point { point-to-pointType })
   | (notAllowed
      | element virtual { interface-virtualType })
   | (notAllowed
      | element up { interface-upType })
   | (notAllowed
      | element public-address { public-addressType })
   | (notAllowed
      | element link-local-address { link-local-addressType })
   | (notAllowed
      | element site-local-address { site-local-addressType })
   | (notAllowed
      | element nic { nicType })+
   | (notAllowed
      | element nic-match { nic-matchType })+
   | (notAllowed
      | element subnet-match { subnet-matchType })+),
  empty
vaultType =
  (attribute code { xsd:string }?,
   (notAllowed
    | element vault-option { propertyType })*),
  empty
\string = xsd:string
namedJvmType = anonymous2, empty
link-local-addressType = empty, empty
outbound-socket-bindingType =
  (attribute fixed-source-port { xsd:boolean }?,
   attribute source-port { xsd:positiveInteger }?,
   attribute source-interface { xsd:string }?,
   attribute name { xsd:string },
   ((notAllowed
     | element remote-destination {
         attribute port { xsd:positiveInteger },
         attribute host { xsd:string }
       })
    | (notAllowed
       | element local-destination {
           attribute socket-binding-ref { xsd:string }
         }))),
  empty
fs-explodedType = anonymous5, empty
inet-addressType =
  attribute value { xsd:string },
  empty
anonymous5 = anonymous8
nic-matchType =
  attribute pattern { xsd:string },
  empty
anonymous6 =
  attribute value { text }?,
  attribute name { text }
site-local-addressType = empty, empty
http-management-socketType =
  (anonymous3,
   attribute port { xsd:int }?,
   attribute secure-port { xsd:int }?),
  empty
keystoreType =
  (attribute password { xsd:string },
   attribute relative-to { xsd:string }?,
   attribute path { xsd:string }),
  empty
anonymous7 =
  (notAllowed
   | element security-realms {
       element security-realm {
         attribute name { xsd:string },
         element server-identities {
           element ssl {
             attribute protocol { xsd:string }?,
             element keystore { keystoreType }
           }?,
           element secret {
             attribute value { xsd:string }
           }?
         }?,
         element authentication {
           element truststore { keystoreType }?,
           (element jaas {
              attribute name { xsd:string }
            }
            | empty
            | element ldap {
                attribute user-dn { xsd:string }?,
                attribute recursive { xsd:boolean }?,
                attribute base-dn { xsd:string },
                attribute connection { xsd:string },
                (element username-filter {
                   attribute attribute { xsd:string }
                 }
                 | element advanced-filter {
                     attribute filter { xsd:string }
                   })
              }
            | element properties {
                anonymous4,
                attribute plain-text { xsd:boolean }?
              }
            | element users {
                element user {
                  attribute username { xsd:string },
                  element password { \string }
                }+
              })
         }?,
         element authorization {
           element properties { anonymous4 }
         }?
       }+
     })?,
  (notAllowed
   | element outbound-connections {
       element ldap {
         attribute initial-context-factory { xsd:string }?,
         attribute search-credential { xsd:string },
         attribute search-dn { xsd:string },
         attribute url { xsd:string },
         attribute name { xsd:string }
       }
     })?
nicType =
  attribute name { xsd:string },
  empty
anonymous8 =
  attribute relative-to { xsd:string }?,
  attribute path {
    xsd:string { minLength = "1" }
  }?
