emacs/.emacs.d/xml/jboss-7/jboss-as-ee_1_0.rnc

default namespace = "urn:jboss:domain:ee:1.0"

start =
  notAllowed
  | element subsystem {
      element global-modules {
        element module {
          attribute slot { xsd:string }?,
          attribute name { xsd:string }
        }*
      }?,
      element ear-subdeployments-isolated { xsd:boolean }?
    }
