emacs/.emacs.d/xml/jboss-7/jboss-as-jmx_1_2.rnc

default namespace = "urn:jboss:domain:jmx:1.2"

start =
  notAllowed
  | element subsystem {
      element expose-resolved-model {
        attribute proper-property-format { xsd:boolean }?,
        attribute domain-name { xsd:string }?
      }?,
      element expose-expression-model {
        attribute domain-name { xsd:string }?
      }?,
      element remoting-connector {
        attribute use-management-endpoint { xsd:boolean }?
      }?
    }
