emacs/.emacs.d/xml/checkstyle_configuration_1_2.rnc

default namespace = ""

start = module | property | metadata
metadata =
  element metadata {
    attribute name { xsd:NMTOKEN },
    attribute value { xsd:normalizedString }
  }
property =
  element property {
    attribute default { xsd:normalizedString }?,
    attribute name { xsd:NMTOKEN },
    attribute value { xsd:normalizedString }
  }
module =
  element module {
    attribute name { xsd:NMTOKEN },
    (module | property | metadata)*
  }
